@font-face {
    font-family: "CursedTimer";
    src: url(./assets/fonts/CursedTimerUlil-Aznm.ttf);
}

:root{
    --dark-blue: #1B244A;
    --white: #EEEEEE;
    --coal: #080001;
    --strawberry: #F94F6D;
    --lavender: #9AABD8;
}


body {
    background-color: var(--dark-blue);
    margin: 0;
    color: var(--white);
    font-family: 'verdana', sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.title {
    font-size: 50px;
}

#home-score, #guest-score {
    color: var(--strawberry);
    background-color: var(--coal);
    font-family: "CursedTimer", sans-serif;
    font-size: 100px;
    border-radius: 10px;
    padding: 20px 30px;
    margin: 30px auto
}

.score-btn {
    background-color: var(--dark-blue);
    border: 3px solid var(--lavender);
    border-radius: 5px;
    color: var(--lavender);
    font-family: "CursedTimer", sans-serif;
    font-size: 20px;
    margin: 10px;
    padding: 10px 20px;
}